
LaTeX Report/chngcntr/chngcntr.pdf
LaTeX Report/chngcntr/chngcntr.sty
LaTeX Report/chngcntr/chngcntr.tex
LaTeX Report/chngcntr/README.md
LaTeX Report/document-1.cpt
LaTeX Report/document.aux
LaTeX Report/document.log
LaTeX Report/document.out
LaTeX Report/document.pytxcode
LaTeX Report/document.synctex.gz
LaTeX Report/document.toc
LaTeX Report/excel_tex_files/id_sheet_0.tex
LaTeX Report/excel_tex_files/id_task_1_sheet_0.tex
LaTeX Report/excel_tex_files/id_task_2_sheet_0.tex
LaTeX Report/excel_tex_files/LogosShortProperties_Sheet1.tex
LaTeX Report/excel_tex_files/Materials_List1.tex
LaTeX Report/excel_tex_files/Sheet1.tex
LaTeX Report/excel_tex_files/some_Some.tex
LaTeX Report/excel_tex_files/Tasks_List1.tex
LaTeX Report/img/Base/1.PNG
LaTeX Report/img/Base/2.PNG
LaTeX Report/img/Blender/animation_1.png
LaTeX Report/img/Blender/clouds_1.PNG
LaTeX Report/img/Blender/clouds_2.PNG
LaTeX Report/img/Blender/clouds_nodes.PNG
LaTeX Report/img/Blender/code.png
LaTeX Report/img/Blender/material.PNG
LaTeX Report/img/Blender/plane.png
LaTeX Report/img/Blender/screen.png
LaTeX Report/img/Blender/sun.PNG
LaTeX Report/img/First_plane/0001.png
LaTeX Report/img/First_plane/0002.png
LaTeX Report/img/First_plane/0003.png
LaTeX Report/img/First_plane/0004.png
LaTeX Report/img/First_plane/0005.png
LaTeX Report/img/First_plane/0006.png
LaTeX Report/img/First_plane/0007.png
LaTeX Report/img/First_plane/0008.png
LaTeX Report/img/First_plane/0009.png
LaTeX Report/img/First_plane/0010.png
LaTeX Report/img/First_plane/0011.png
LaTeX Report/img/First_plane/0012.png
LaTeX Report/img/First_plane/0013.png
LaTeX Report/img/First_plane/0014.png
LaTeX Report/img/First_plane/0015.png
LaTeX Report/img/First_plane/0016.png
LaTeX Report/img/First_plane/0017.png
LaTeX Report/img/First_plane/0018.png
LaTeX Report/img/First_plane/0019.png
LaTeX Report/img/First_plane/0020.png
LaTeX Report/img/First_plane/0021.png
LaTeX Report/img/First_plane/0022.png
LaTeX Report/img/First_plane/0023.png
LaTeX Report/img/First_plane/0024.png
LaTeX Report/img/First_plane/0025.png
LaTeX Report/img/First_plane/0026.png
LaTeX Report/img/First_plane/0027.png
LaTeX Report/img/First_plane/0028.png
LaTeX Report/img/First_plane/0029.png
LaTeX Report/img/First_plane/0030.png
LaTeX Report/img/First_plane/0031.png
LaTeX Report/img/First_plane/0032.png
LaTeX Report/img/First_plane/0033.png
LaTeX Report/img/First_plane/0034.png
LaTeX Report/img/First_plane/0035.png
LaTeX Report/img/First_plane/0036.png
LaTeX Report/img/First_plane/0037.png
LaTeX Report/img/First_plane/0038.png
LaTeX Report/img/First_plane/0039.png
LaTeX Report/img/First_plane/0040.png
LaTeX Report/img/First_plane/0041.png
LaTeX Report/img/First_plane/0042.png
LaTeX Report/img/First_plane/0043.png
LaTeX Report/img/First_plane/0044.png
LaTeX Report/img/First_plane/0045.png
LaTeX Report/img/First_plane/0046.png
LaTeX Report/img/First_plane/0047.png
LaTeX Report/img/First_plane/0048.png
LaTeX Report/img/First_plane/0049.png
LaTeX Report/img/First_plane/0050.png
LaTeX Report/img/First_plane/0051.png
LaTeX Report/img/First_plane/0052.png
LaTeX Report/img/First_plane/0053.png
LaTeX Report/img/First_plane/0054.png
LaTeX Report/img/First_plane/0055.png
LaTeX Report/img/First_plane/0056.png
LaTeX Report/img/First_plane/0057.png
LaTeX Report/img/First_plane/0058.png
LaTeX Report/img/First_plane/0059.png
LaTeX Report/img/First_plane/0060.png
LaTeX Report/img/First_plane/0061.png
LaTeX Report/img/First_plane/0062.png
LaTeX Report/img/First_plane/0063.png
LaTeX Report/img/First_plane/0064.png
LaTeX Report/img/First_plane/0065.png
LaTeX Report/img/First_plane/0066.png
LaTeX Report/img/First_plane/0067.png
LaTeX Report/img/First_plane/0068.png
LaTeX Report/img/First_plane/0069.png
LaTeX Report/img/First_plane/0070.png
LaTeX Report/img/First_plane/0071.png
LaTeX Report/img/First_plane/0072.png
LaTeX Report/img/First_plane/0073.png
LaTeX Report/img/First_plane/0074.png
LaTeX Report/img/First_plane/0075.png
LaTeX Report/img/First_plane/0076.png
LaTeX Report/img/First_plane/0077.png
LaTeX Report/img/First_plane/0078.png
LaTeX Report/img/First_plane/0079.png
LaTeX Report/img/First_plane/0080.png
LaTeX Report/img/First_plane/0081.png
LaTeX Report/img/First_plane/0082.png
LaTeX Report/img/First_plane/0083.png
LaTeX Report/img/First_plane/0084.png
LaTeX Report/img/First_plane/0085.png
LaTeX Report/img/First_plane/0086.png
LaTeX Report/img/First_plane/0087.png
LaTeX Report/img/First_plane/0088.png
LaTeX Report/img/First_plane/0089.png
LaTeX Report/img/First_plane/0090.png
LaTeX Report/img/First_plane/0091.png
LaTeX Report/img/First_plane/0092.png
LaTeX Report/img/First_plane/0093.png
LaTeX Report/img/First_plane/0094.png
LaTeX Report/img/First_plane/0095.png
LaTeX Report/img/First_plane/0096.png
LaTeX Report/img/First_plane/0097.png
LaTeX Report/img/First_plane/0098.png
LaTeX Report/img/First_plane/0099.png
LaTeX Report/img/First_plane/0100.png
LaTeX Report/img/First_plane/0101.png
LaTeX Report/img/First_plane/0102.png
LaTeX Report/img/First_plane/0103.png
LaTeX Report/img/First_plane/0104.png
LaTeX Report/img/First_plane/0105.png
LaTeX Report/img/First_plane/0106.png
LaTeX Report/img/First_plane/0107.png
LaTeX Report/img/First_plane/0108.png
LaTeX Report/img/First_plane/0109.png
LaTeX Report/img/First_plane/0110.png
LaTeX Report/img/First_plane/0111.png
LaTeX Report/img/First_plane/0112.png
LaTeX Report/img/First_plane/0113.png
LaTeX Report/img/First_plane/0114.png
LaTeX Report/img/First_plane/0115.png
LaTeX Report/img/First_plane/0116.png
LaTeX Report/img/First_plane/0117.png
LaTeX Report/img/First_plane/0118.png
LaTeX Report/img/First_plane/0119.png
LaTeX Report/img/First_plane/0120.png
LaTeX Report/img/First_plane/0121.png
LaTeX Report/img/First_plane/0122.png
LaTeX Report/img/First_plane/0123.png
LaTeX Report/img/First_plane/0124.png
LaTeX Report/img/First_plane/0125.png
LaTeX Report/img/NX/ASP.png
LaTeX Report/img/Render/1.png
LaTeX Report/img/Render/10.png
LaTeX Report/img/Render/2.png
LaTeX Report/img/Render/3.png
LaTeX Report/img/Render/4.png
LaTeX Report/img/Render/5.png
LaTeX Report/img/Render/6.png
LaTeX Report/img/Render/7.png
LaTeX Report/img/Render/8.png
LaTeX Report/img/Render/9.png
LaTeX Report/img/with_box/1.jpg
LaTeX Report/img/with_box/2.jpg
LaTeX Report/img/with_box/3.jpg
LaTeX Report/img/without_box/1.jpg
LaTeX Report/img/without_box/2.jpg
LaTeX Report/Lvovski_i-2014.pdf
LaTeX Report/pythontex-files-document/document.pytxmcr
LaTeX Report/pythontex-files-document/document.pytxpyg
LaTeX Report/pythontex-files-document/py_default_default_10.stdout
LaTeX Report/pythontex-files-document/py_default_default_12.stdout
LaTeX Report/pythontex-files-document/py_default_default_13.stdout
LaTeX Report/pythontex-files-document/py_default_default_14.stdout
LaTeX Report/pythontex-files-document/py_default_default_15.stdout
LaTeX Report/pythontex-files-document/py_default_default_16.stdout
LaTeX Report/pythontex-files-document/py_default_default_17.stdout
LaTeX Report/pythontex-files-document/py_default_default_2.stdout
LaTeX Report/pythontex-files-document/py_default_default_4.stdout
LaTeX Report/pythontex-files-document/py_default_default_5.stdout
LaTeX Report/pythontex-files-document/py_default_default_6.stdout
LaTeX Report/pythontex-files-document/py_default_default_8.stdout
LaTeX Report/pythontex-files-document/py_default_default_9.stdout
LaTeX Report/pythontex-files-document/pythontex_data.pkl
LaTeX Report/TemplateLib/abbrevusualstyle.tex
LaTeX Report/TemplateLib/logo.png
LaTeX Report/TemplateLib/titlepage.log
